body {
  font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.details {
  background-image: url(images/Homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
    height: 1024px;
   
    padding: 70px, 828px, 71px, 23px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

   
}

.form{
    width: 589px;
    height: 883px;
    
    padding: 94px, 122px, 95px, 121px;
    margin-top: 70px;
    margin-left: 23px;
    border-radius: 8px;
    background: #FFFFFF61;
}

.content{
  width: 346px;
    height: 694px;
    padding-top: 50px;
    padding-left: 121px;
}

.content p {
  font-size: 16px;
  height: 24px;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 0;
}

section {
  background: #ffffff61;
  background-size: 20px 10px 10px 15px;
}

button {
  background: #6da01e;
  padding: 10px;
    height: 48px;
    border-radius: 8px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
  width: 350px;
  height: 50px;
  
}

button:hover {
  cursor: pointer;
  transition: all 200ms ease;
}

.button1 {
  border: none;
  
}

.button2 {
  background: transparent;
  color: #6da01e;
  border-color: #6da01e;
  border-radius: 10px;
  padding: 10px;
}

.content input {
   width: 345px;
    height: 48px;
    top: 69px;
    left: 1px;
    border-radius: 8px;
    border: 1px;
  border-color: #ffffff61;
}

.password-container {
  position: relative;
}

.passwordInput {
  padding-right: 30px; /* Space for the eye icon */
}

a {
  text-decoration: none;
  color: #6da01e;
}

.lst-ending{
    justify-content: center;
    text-align: center;
    padding-left: 30px;
}

.ending {
  text-align: center;
  justify-content: center;
  padding-left: 40px;
}

.fa{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
